<!DOCTYPE html>

<html>
    <head>
        <title>Embassy of <%=city.name%></title>
        <link href="/pagestyles.css" rel="stylesheet" type="text/css" />
    </head>

    <body><br/>
        <div align="center">
            <table cellpadding="10" cellspacing="10" >
                <tr><th colspan="2" style="font-size: 3em"><%=city.name%></th></tr>
                <tr>
                    <td width="50%" valign="top"><%=city.name%> is governed by Mayor <%=city.mayor%><br/><br/>
                        <%- include('../city/stockpile') %></td>

                    <td valign="top">
                        &nbsp;&nbsp;&nbsp;<i>Options:</i>
                        <ul>
                            <li><a href="../../writeto/<%=city.name%>/">Send a message</a></li>  
                        </ul>
                    </td>
                </tr>
            </table>
            <p></p>
        </div>
        <%- include('../navbar.ejs') %>
    </body>

</html>