<button class="districtbutton" name="<%=district.latitude%>_<%=district.longitude%>">
    <br/><b align="center"><%=district.name%></b><br/>
    Zoning: <%=district.use%><br/>
    Development: <%=district.development%><br/><br/>
</button>