<table>
    <tr><th colspan="2">Resources</th></tr>
    <tr>
        <td>Concrete</td>
        <td><%=city.reserves.concrete%></td>
    </tr>
    <tr>
        <td>Lumber</td>
        <td><%=city.reserves.lumber%></td>
    </tr>
    <tr>
        <td>Steel</td>
        <td><%=city.reserves.steel%></td>
    </tr>
    <tr>
        <td>Gold</td>
        <td><%=city.reserves.gold%></td>
    </tr>
    <tr>
        <td>Emeralds</td>
        <td><%=city.reserves.emeralds%></td>
    </tr>
</table>